{% extends 'global/base.html' %}

{% block content %}
<div class="single-contact">
    <h1 class="single-contact-name">
      {{ user.username }}
    </h1>

    <p><b>Nome:</b> {{ user.first_name }}</p>
    <p><b>Sobrenome:</b> {{ user.last_name }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Telefone:</b> {{ user.phone }}</p>
    <p><b>Categoria:</b> {{ user.category }}</p>
    <div class="contact-links">
        <a class="btn btn-link" href="{% url 'contact:userupdate' %}"> 
          Atualizar
        </a>
  
        <a class="btn btn-link btn-delete" href="{% url 'contact:logout' %}">
          Sair da Conta
        </a>
    </div>
</div>
{% endblock content %}